body {
    font-size: 16px;
}

img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: calc(50% - 2em);
    left: 0;
    width: 100%
}

.bgred {
    background-color: red;
    color:blue;
}

.navbar > ul > li {
    display: inline;
    
}

nav {
    margin-bottom: 4em;
}

.navbar {
    background: sienna;
    color: snow;
    padding: 1rem;
    position: fixed;
    z-index: 9999;
    width: 100%;
    margin-top: 0;
}